fieldset {
    width: 100%;
    border: none;
    align-content: center;
}

.deleteButton {
    color: #000000;
    background-color: #ff5b54;
    text-align: center;
    border: double;
    height: 35px;
}

.deleteButton:hover {
    background-color: #ff0006;
    font-weight: bolder;
    color: #fff;
    border: double thick #cecece;
    letter-spacing: 2px;
    font-size: 100%;
    cursor: hand;
    cursor: pointer;
}

#submit, .updateButton {
    background-color: #28db19;
    color: #000000;
    border: double;
    height: 35px;
}

#submit:hover, .updateButton:hover {
    font-weight: bolder;
    background-color: #08cf00;
    color: #fff;
    border: double thick #1e1e1e;
    letter-spacing: 2px;
    font-size: 100%;
    cursor: hand;
    cursor: pointer;
}

#pageWrapper {
    margin: 0 auto;
    width: 80%;
}

#addRecord {
    border: #26be19 ridge 25px;
    background-color: #e2e2e2;
    margin: 5px;
    padding: 10px;
}

#editRecord {
    border: #ff7d7d ridge 15px;
    margin: 5px;
    padding: 10px;
    background-color: #dedede;
}

p {
    display: table-row;
    margin: 5px;
    padding: 5px;
}

label {
    display: table-cell;
    text-align: right;
    margin: 2px;
    padding: 2px;
}

input {
    display: table-cell;
    margin: 2px;
    padding: 2px;
    width: 300px;
    align-content: center;
    font-size: 100%;
}

textarea {
    display: table-cell;
    margin: 2px;
    padding: 2px;
    width: 300px;
    height: 60px;
    font-size: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h4 {
    font-style: italic;
    color: #ff7d7d;
}

body {
    background-color: rgba(46, 5, 5, 0.32)
}

#box {
    border: thick solid #ff0006;
    width: 95%;
    padding: 5px;
}