h1 {color: #00c5e8}
h2 {color: #c6645b}
p{font-family: Comic Sans, Tahoma, Geneva, sans-serif; font-size: 110%;}
redcolor {color: red}
#bandBlock {border: groove #81cee3 10px; margin: 5px 0 10px 0;}
#photoBlock {display: block; text-align: left; float: right; width: 65%; padding: 5px;}
#infoBlock {display: block; text-align: right; float: left; width: 30%; padding: 10px;}
#morephotoBlock {display: none;}
#moreinfoBlock {display: none; }
#clearBlock {clear: both;}
#moreinfo {width: 100%; margin-bottom: 1px; text-align: center;}
