ul {
    display: block;
}

#photo {
    display: block;
    text-align: center;
    float: right;
    width: 60%;
    padding: 5px;
}

#info {
    display: block;
    text-align: left;
    float: left;
    width: 40%;
    padding: 10px;
}

#clearBlock {
    clear: both;
}

.photo {
    display: none;
}

.moreInfo {
    display: none;
}

.expandButton {
    width: 97%;
    height: 30px;
    margin: 3px;
    text-align: center;
    align-content: center;
    letter-spacing: 5px;
    font-size: 60%;
    border-radius: 10px;
    color: #ffffff;
    background-color:
    #dc572e;
    box-shadow: none;
}
.expandButton:hover {
    cursor: hand;
    cursor: pointer;
    letter-spacing: 10px;
    font-size: 100%;
}

.bandClass {
    width: 100%;
    border-bottom: solid #878787 3px;
    border-top: solid #878787 3px;
    border-radius: 10px;
    margin-bottom: 40px;
}
