h1 {}
h2 {}
ul {display: inline-block}
p{font-family: Comic Sans, Tahoma, Geneva, sans-serif; font-size: 110%;}
#band {border: groove #81cee3 10px; margin: 5px 0 10px 0;}
#photo {display: block; text-align: center; float: right; width: 65%; padding: 5px;}
#info {display: block; text-align: center; float: left; width: 30%; padding: 10px;}
#clearBlock {clear: both;}
.photo {display: none;}
.moreInfo {display: none;}
.expandButton {width: 100%; margin-bottom: 1px; text-align: center;}

