/* -----------------------------------
base styles
----------------------------------- */

html,
body {
    color: #000;
    background: #2f2f2f;
}

body {
    margin: 0 auto;
    padding: 0;
    font: 1.125em/1.4 'Kameron', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    margin: 0 auto .5em;
}

h2 {
    font-size: 1.5em;
    margin: 0 auto .5em;
}

h3 {
    margin: 0 0 .2em;
    color: #777;
    font-size: 1.33333em;
}

p {
    margin: 0 auto 1em;
}

img {
    max-width: 980px;
    vertical-align: middle;
    border: 0;
}

li {
    list-style-type: none;
}


a{
    color: yellow;
    text-decoration: none;
}