/* ----------------
base styles
---------------- */

html,
body {
    color: #000;
    background-color: #220000;
    background: url(../../database/images/bg-tcmc.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

body {
    margin: 0 auto;
    padding: 0;
    font: 1.125rem/1.4  sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: 3rem;
    margin: 0 auto .5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0 auto .5rem;
}

h3 {
    margin: 0 0 .5rem;
    color: #777;
    font-size: 1.33333rem;
}

p {
    margin: 0 2rem 1rem;
}

img {
    max-width: 980px;
    vertical-align: middle;
    border: 0;
}

li,
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}








a{
    color: yellow;
    text-decoration: none;
}