/*-----------------Header------------------------*/

.header {
    position: relative;
    padding: .0em 0;
    margin: 1.5em 0 0em;
}
/*-----------------Navigation-------------------*/

.navigation {
    position: fixed;
    top: 0em;
    right: 0em;
}

.navigation ul {
    display: inline-block;
    margin: 0;
}

.navigation li {
    display: block;
    float: left;
}
/*------------box ---------------------*/

.box {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}
/* -----------------------------------
rows
----------------------------------- */

.row {
    margin: 1em auto;
    clear: both;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    max-width: 75em;
}

.row-right {
    text-align: right;
    margin-right: 1em;
}
/* -----------------------------------
cols
----------------------------------- */

.col {
    overflow: hidden;
    margin-bottom: 0em;
}

.col p {
    margin: auto;
}

.col:last-child {
    margin-right: 0;
}
/* -----------------------------------
cols-medium
----------------------------------- */

@media (min-width: 30em) and (max-width: 45em) {
    .col {
        float: left;
        margin-right: 8%;
    }
    .m-2col {
        width: 100%;
    }
    .m-1col {
        width: 46%;
    }
    .col:nth-child(2) {
        margin-right: 0;
    }
    .header {
        margin: 2em 0 0em;
    }
    .navigation {
        top: .27em;
    }
}
/* -----------------------------------
cols-wide
----------------------------------- */

@media (min-width: 45em) {
    .col {
        float: left;
        margin-right: 4%;
    }
    .w-4col {
        width: 100%;
    }
    .w-3col {
        width: 74%;
    }
    .w-2col {
        width: 48%;
    }
    .w-1col {
        width: 22%;
    }
    .header {
        margin: 2.5em auto 0em;
    }
    .navigation {
        top: .6em;
    }
}

/*-----------------specific styling ------------------------*/

.cta {
    background: black;
    margin: 1em;
    padding: 1em;
}


.cta p {
    color: white;
}
