/* -----------------------------------
containers
----------------------------------- */

.container .container-narrow {
    overflow: hidden;
    margin: 0em auto;
    padding: 0em 1.33333em;
    border-radius: 8px;
}

.container {
    max-width: 75em;
}

.container-narrow {
    max-width: 33em;
}

.float-Left{
    float: left;
}

.float-Right{
    float: right;
}

/* -----------------------------------
rows
----------------------------------- */
/* row-padding */

.row-padding-small {
    padding 1em 0em;
}

.row-padding,
.row-padding-large {
    padding 2em 0;
}
/* row-colors */

.row-white {
    background: #fff;
    
}
.row-white a{
    color: red
}

.row-gray {
    background: #dedede;
    color: black;
}
.row-gray * h3{
    color: #2e2e2e;
}
.row-gray * a{
    color: red;
}

.row-dgray {
    background: #7b7b7b;
}

.row-redBlack {
    background: #3e0000;
    color: #ddd;
}


.row-black {
    background: #1e1e1e;
    color: #ddd;
}



/* -----------------------------------
text
----------------------------------- */

.banner-text,
.intro-text,
.footer-text {
    margin: 0 auto;
    font-weight: normal;
}

.banner-text {
    color: #fff;
    font-size: 2em;
}

.intro-text {
    font-size: 1.22222em;
    margin: 1em 1em;
}

.navigation img{
    width: 50%;
}

.navigation li a,
.navigation li span {
    padding: .1em .5em;
    margin 0em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 1px;
    color: #FFF;
}

.navigation li:hover a,
.navigation li.active a,
.navigation li.active span {
    background: #cc0000;
    border-radius: 7px;
    color: #FFF;
}

.bands .bands-expanded {
    text-align: center;
}

.bands {}

.bands-expanded img {
    width: 100%;
    float: right;
}
/* -----------------------------------
row and text medium
----------------------------------- */

@media (min-width: 38em) {
    .row-padding {
        padding: 2.5em 0;
    }
    .row-padding-small {
        padding: 1em 0em;
    }
    .row-padding-large {
        padding: 3.33333em 0;
    }
    .banner-text,
    .intro-text,
    .footer-text {
        text-align: center;
    }
    .banner-text {
        font-size: 2.44444em;
    }
    .intro-text {
        font-size: 1.33333em;
    }
    .navigation li a,
    .navigation li span {
        font-size: .7em;
    }
    .bands .bands-expanded {
        text-align: left;
    }
    .bands-expanded img {
        width: 70%;
        float: right;
    }
    .navigation img{
    width: 80%;
    }
}
/* -----------------------------------
row and text wide
----------------------------------- */

@media (min-width: 62em) {
    .row-padding {
        padding: 3em 0;
    }
    .row-padding-large {
        padding: 4em 0;
    }
    .banner-text {
        font-size: 3em;
    }
    .intro-text {
        font-size: 1.5em;
        margin: 1em 3em;
    }
    .navigation li a,
    .navigation li span {
        font-size: 1.4em;
    }
    .bands .bands-expanded {
        text-align: left;
    }
    .bands-expanded img {
        width: 40%;
        float: right;
    }
    .navigation img{
    width: 100%;
}
}
/*----------------specific styling below-------------------------*/
/*----------------specific styling below-------------------------*/
/*----------------specific styling below-------------------------*/
/*----------------specific styling below-------------------------*/
/*----------------specific styling below-------------------------*/

/*-------- About-HistoryList ----------------*/

.About-HistoryList ul {
    text-align: left;
    margin: 2em 2em 1em;
}

.About-HistoryList li {
    text-align: left;
    margin: 2em 2em 0em;
}

.About-HistoryList ul h2 {
    text-align: Center;
}

.About-HistoryList p{
    margin: .5em;
}

/*-------- About-HistoryBrief----------------*/

.About-HistoryBrief {
    text-align: left;

}

.About-HistoryBrief p{
    margin: 1em;
}

.About-HistoryBrief h1,
.About-HistoryBrief h2 {
    text-align: center;
}

/*-------- CTA----------------*/

.cta img{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
   
}


.cta {
    background: black;
    margin: 1em;
    padding: 1em;
}


.cta p {
    color: white;
}

.cta-4x h3 {
    font-size: 2em;
}

.cta-4x a{
    font-weight: 100;
}

/*---------------Bands --------------------*/


#clearBlock {
    clear: both;
}

.photo, 
.info-more {
    display: none;
}



.bandClass {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bandClass:hover {
    cursor: hand;
    cursor: pointer;
}

.bands img{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: 0%;
   
}

/*---------------Feeder----------------------*/
.rssItem{
    margin: 2em;
}

/*--------------Forms Common-----------------*/
form label {
    /*display: table-cell;*/
    display:inline-block;
    width:20%;
    text-align: right;
    margin: 2px;
    padding: 2px;
}

form fieldset {
    width: 100%;
    border: none;
    align-content: center;
}

form #submit, .updateButton {
    background-color: #28db19;
    color: #000000;
    border: double;
    height: 35px;
}

form #submit:hover, .updateButton:hover {
    font-weight: bolder;
    background-color: #08cf00;
    color: #fff;
    border: double thick #1e1e1e;
    letter-spacing: 2px;
    cursor: hand;
    cursor: pointer;
}

form .error {
    color:#FF0004;
}

form input {
    /*display: table-cell;*/
    margin: 2px;
    padding: 2px;
    width: 70%;
    align-content: center;
}

form textarea {
    /*display: table-cell;*/
    margin: 2px;
    padding: 2px;
    width: 70%;
    height: 60px;
}


